// Main Colors
$first-color: #f6f7f8; // Main background-color
$second-color: #d1dce2;
$third-color: #a2bfcf;
$fourth-color: #6e8e9e;
$fifth-color: #3d5c6e;

// White color
$white-color: #fff;

// Text Colors
$text-color-dark: #1c1c1c;
$text-color-light: #666666;
$gray-color: #999999;

// Borders
$border-color: #e6e6e6;
$border-radius-small: 6px;
$border-radius-large: 10px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: $first-color;
}

a {
    text-decoration: none;
}

div#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: $first-color;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 480px;
    padding: 0.5rem;
}

.title-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    color: $text-color-dark;
    line-height: 1.5;
}

.main-logo {
    width: 100px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-link {
    margin-right: 1.5rem;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-align: right;
    color: $text-color-dark;
    line-height: 1.5;
}

.nav-link:hover {
    font-weight: bold;
    text-decoration: underline 2.5px;
    text-underline-offset: 0.25em;
}

.log-in {
    display: flex;
    align-items: center;
    width: 4rem;
    gap: 0.25rem;
}

.user-icon {
    width: 1em;
}

footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    padding: 23px 107.133px 23.081px 107px;
    background: $text-color-dark;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: $gray-color;
    line-height: 1.5;
}

.home {
    height: 480px;
}

.home-section {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 480px;
    padding-top: 66px;
    background-image: url("/assets/home.jpg");
    background-size: cover;
    gap: 50px;
}

.home-section::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.cool-heading {
    display: flex;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    gap: 2rem;
}

.first-line {
    font-family: "Arial", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #ff8c00;
}

.second-line {
    font-family: "Arial", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
}

.home-section h2 {
    z-index: 1;
    max-width: 480px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: $white-color;
    line-height: 1.5;
}

.find-costumes-btn {
    z-index: 1;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    max-width: 480px;
    height: 50px;
    border-radius: $border-radius-small;
    background: $fourth-color;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: $white-color;
    line-height: 1.5;
}

.about-main {
    display: flex;
    flex-direction: column;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $first-color;
}

.about-bg {
    flex-shrink: 0;
    width: 100%;
    height: 270px;
    background: url("/assets/masks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 12%;
}

.about-content {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    padding: 1.5rem;
}

.about-content h1 {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: #161616;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.about-content h2 {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #161616;
    line-height: 1.5;
}

.rectangle {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: min(90%, 480px);
    margin-bottom: 4em;
    margin-top: 2em;
    border-radius: $border-radius-large;
    background: $third-color;
}

.rectangle h3 {
    width: 420px;
    margin-top: 1em;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #161616;
    line-height: 1.5;
}

.explore-costumes-btn {
    display: inline-flex;
    margin: 1.5em auto;
    padding: 12px 22px 13px 22px;
    border-radius: $border-radius-small;
    background: #161616;
    font-family: Inter;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    color: $white-color;
    line-height: 1.5;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h1 {
    width: 480px;
    margin: 4rem 0;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #161616;
    line-height: 1.5;
}

.login-form input {
    display: flex;
    align-items: center;
    align-self: stretch;
    width: 480px;
    padding: 9px 13px;
    border: 1px solid #d1d5db;
    border-radius: $border-radius-small;
    background: $white-color;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #4d4d4d;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    line-height: 1.5;
}

.login-form button {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border: none;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 22px;
    padding: 18px 0;
    border-radius: $border-radius-small;
    background: $third-color;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #161616;
    line-height: 1.5;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    width: 480px;
    max-height: 55px;
}

.login-container p {
    margin-bottom: 75px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #161616;
    line-height: 1.5;
}

.login-container p span {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: $fourth-color;
    line-height: 1.5;
    cursor: pointer;
}

.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found-container h1 {
    width: 480px;
    margin-top: 100px;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: #161616;
    line-height: 1.5;
}

.not-found-btn {
    display: flex;
    flex-shrink: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 55px;
    margin-bottom: 180px;
    margin-top: 2rem;
    border-radius: $border-radius-large;
    background: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: $white-color;
    line-height: 1.5;
}

.costume-list-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: $first-color;
}

.costume-list-container h1 {
    width: 100%;
    max-width: 480px;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    color: #161616;
    line-height: 1.5;
    margin: 0 auto 1.5rem auto;
}

.filter-buttons {
    max-width: 820px;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.filter,
.filter,
.filter {
    display: flex;
    align-items: baseline;
}

.buttons-container {
    display: flex;
    align-items: baseline;
    color: #161616;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    flex-wrap: wrap;
    display: flex;
    gap: 0.5rem;
}

.filter h3,
.gender-filter h3 {
    min-width: 6.5rem;
}

.costume-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-bottom: 4rem;
    gap: 3rem;
}

.costume-tile {
    flex: 0 0 30%;
    min-width: 250px;
    box-sizing: border-box;
}

.costume-tile a img {
    border-radius: $border-radius-large;
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.costume-info {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
}

.costume-info h3 {
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    color: #161616;
    line-height: 1.5;
}

.costume-info p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-align: start;
    color: #161616;
    line-height: 1.5;
}

.costume-tile i {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 30px;
}

.filter-button {
    margin-right: 1rem;
    display: flex;
    gap: 1ch;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: 37px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: $border-radius-small;
    background: $second-color;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #4d4d4d;
    line-height: 1.5;
    cursor: pointer;
}

.button-container {
    width: 135px;
}

.clear-filters {
    align-self: baseline;
    border: none;
    background-color: unset;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
    color: #4d4d4d;
    cursor: pointer;
    line-height: 1.5;
}

.filter-button:hover {
    color: $first-color;
}

.filter-button:focus {
    outline: none;
}

.filter-button.selected {
    width: min-content;
    color: $first-color;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
}

.filter-button.superhero:hover,
.filter-button.superhero.selected {
    background-color: #ff4500;
}

.filter-button.historical:hover,
.filter-button.historical.selected {
    background-color: #6b4226;
}

.filter-button.fantasy:hover,
.filter-button.fantasy.selected {
    background-color: #663399;
}

.filter-button.creature:hover,
.filter-button.creature.selected {
    background-color: #008080;
}

.filter-button.celebrity:hover,
.filter-button.celebrity.selected {
    background-color: #c2a70d;
}
.filter-button.male:hover,
.filter-button.male.selected {
    background-color: #4169e1;
}
.filter-button.female:hover,
.filter-button.female.selected {
    background-color: #ff69b4;
}
.filter-button.unisex:hover,
.filter-button.unisex.selected {
    background: linear-gradient(
        135deg,
        #4169e1 25%,
        #ff69b4 25%,
        #ff69b4 50%,
        #4169e1 50%,
        #4169e1 75%,
        #ff69b4 75%,
        #ff69b4
    );
    background-size: 8px 8px;
}

.filter-button.sort:hover,
.filter-button.sort.selected {
    background-color: $fifth-color;
}

.no-costumes {
    color: #161616;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.costume-detail-container {
    background-color: $first-color;
    padding: 2rem;
}

.costume-detail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex: 1 0 20%;
    margin: 3rem auto;
    gap: 1em;
}

.costume-details-img {
    background-size: cover;
    background-position: top;
    width: 100%;
    min-width: 150px;
    min-height: 200px;
    height: 25vw;
    border-radius: $border-radius-large;
}

.costume-detail-info {
    width: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.costume-detail-info h2 {
    color: #161616;
    font-family: Inter;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.costume-detail-info .costume-price span {
    color: #161616;
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.costume-detail-info .costume-price {
    color: #161616;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.costume-selected {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.costume-selected i {
    cursor: unset;
    margin-bottom: 0.5rem;
}

.costume-detail-info p {
    margin-bottom: 0.5rem;
    color: #161616;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.link-button {
    cursor: pointer;
    color: $white-color;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    border: none;
    width: min(480px, 50%);
    height: 50px;
    flex-shrink: 0;
    border-radius: $border-radius-large;
    background: $fourth-color;
}

a.back-button {
    color: #161616;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    text-decoration-line: underline;
}

.host-layout-nav {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.host-dashboard-section {
    margin: 0 auto;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
}

.host-dashboard-earnings {
    width: 100%;
    max-width: 767px;
    display: flex;
    height: 220px;
    border-radius: $border-radius-large;
    background: $third-color;
    padding: 2.25rem;
}

.host-dashboard-earnings .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.host-dashboard-earnings .info h1 {
    color: #161616;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.host-dashboard-earnings .info p {
    color: #4d4d4d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}
.host-dashboard-earnings .info p span {
    color: #4d4d4d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    text-decoration-line: underline;
}

.host-dashboard-earnings .info h2 {
    color: #161616;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5;
}

.host-dashboard-earnings a {
    margin-left: auto;
    color: #161616;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    align-self: center;
}

.host-dashboard-reviews {
    width: 100%;
    max-width: 767px;
    display: flex;
    flex-shrink: 0;
    padding: 2.25rem;
    border-radius: $border-radius-large;
    background: $second-color;
    align-items: baseline;
}

.host-dashboard-reviews h2 {
    width: 180px;
    color: #161616;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.host-dashboard-reviews p {
    display: flex;
    align-items: baseline;
    color: #4d4d4d;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-dashboard-reviews p span {
    color: #161616;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.host-dashboard-reviews a {
    margin-left: auto;
    color: #161616;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

svg.star {
    margin-right: 0.25em;
    fill: $fourth-color;
}

.top {
    margin: 0 auto;
    width: 100%;
    max-width: 767px;
    display: flex;
    flex-shrink: 0;
    padding: 2.25rem;
    border-radius: $border-radius-large;
    align-items: center;
    background-color: $third-color;
}

.host-dashboard-costumes {
    width: 100%;
}

.host-dashboard-costumes .top a {
    margin-left: auto;
    color: #161616;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-costumes-section {
    justify-content: center;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.host-costumes {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.host-costume-single {
    border-radius: $border-radius-large;
    background: $white-color;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 3rem;
    width: 480px;
}

.host-costume-single img {
    border-radius: $border-radius-large;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    margin: 1.5rem;
}

.host-costume-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.host-costume-info h3 {
    color: #161616;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.host-costume-info p {
    color: #4d4d4d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-costume-single a {
    margin-left: auto;
    color: #161616;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-costume-price {
    color: #4d4d4d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-income-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1.5em;
    background-color: $first-color;
}

.host-income-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.host-income-section h1 {
    text-align: center;
    width: 100%;
    color: #161616;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.host-income-section p {
    color: #4d4d4d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-income-section p span {
    color: #4d4d4d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    text-decoration-line: underline;
}

.host-income-section h2 {
    margin-top: 2rem;
    color: #161616;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5;
}

.graph {
    border-radius: 10px;
    border: solid $third-color 1.5rem;
    background-color: $third-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 480px;
    height: 350px;
    position: relative;
}

.graph-level {
    gap: 1rem;
    align-items: baseline;
    display: flex;
    color: #4d4d4d;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.graph-level p {
    width: 3ch;
}

.dashed-line {
    z-index: 1;
}

.graph-bars {
    padding-left: 3px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.graph-bar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.graph-bar .bar {
    width: 42px;
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 0px 0px;
    flex-shrink: 0;
}

.bar1 {
    height: 225px;
    background: $fifth-color;
}

.bar2 {
    height: 81.2px;
    background: $fourth-color;
}

.bar3 {
    height: 169.65px;
    background: $fifth-color;
}

.bar4 {
    background: $fifth-color;
    height: 152.25px;
}

.bar5 {
    background-color: $fourth-color;
    height: 89.9px;
}

.bar6 {
    height: 33.35px;
    background-color: $fourth-color;
}

.graph-bar p {
    color: #4d4d4d;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-income-stats {
    border-radius: 10px;
    width: 480px;
    padding: 1.5rem;
    background-color: $first-color;
}

.host-income-section .info-header {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.host-income-section .info-header h3 {
    color: #161616;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.host-income-section .info-header h3 span {
    color: #4d4d4d;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.transactions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.transaction {
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 1.5rem;
    border-radius: $border-radius-large;
    background: $white-color;
}

.transaction h3 {
    color: #161616;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.transaction p {
    color: #4d4d4d;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-costumes {
    max-width: 1024px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: $first-color;
    padding: 1.5rem;
}

.host-costumes > h2 {
    color: #161616;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.host-costumes-details-section {
    background-color: $first-color;
    padding: 1.5rem;
}

.host-costumes-details-container {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 6px 6px 0 0;
    background: $white-color;
}

.host-costumes-details-container > img {
    max-width: 10rem;
}

.host-costumes-details-info {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.host-costumes-details-name {
    margin-top: 1rem;
    color: #161616;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.host-costumes-details-price {
    color: #161616;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-costumes-details-bold {
    color: #161616;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.host-costumes-details-nav {
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0 0 6px 6px;
    background: $white-color;
}

.host-costume-details-info h1 {
    padding-top: 1rem;
    color: #161616;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-costume-details-info h1 span {
    color: #161616;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.capitalized {
    text-transform: capitalize;
}

.host-pricing {
    padding: 1.5rem 0;
}

.host-pricing h1 {
    color: #161616;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-pricing span {
    color: #4d4d4d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-costume-photos img {
    max-width: 8rem;
    padding: 1.5rem 0;
}

.host-reviews {
    margin: 0 auto;
    max-width: 100%;
    padding: 1.5rem;
    background-color: $first-color;
}

.reviews-content {
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.reviews-list {
    width: 480px;
}

.top-text {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    padding-bottom: 2rem;
}

.top-text h2 {
    color: #161616;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.top-text p {
    color: #4d4d4d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.top-text p span {
    color: #4d4d4d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    text-decoration-line: underline;
}

.ratings {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.ratings h3 {
    color: #161616;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.ratings svg,
.review-star {
    fill: $fifth-color;
    width: 1.5rem;
    height: 1.5rem;
}

.ratings p {
    padding-top: 0.25rem;
    color: #161616;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.rating-graph {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    border: solid 1.5rem $second-color;
    background-color: $second-color;
    border-radius: 10px;
}

.rating-level {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 480px;
}
.rating-level p {
    color: #4d4d4d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    width: 4rem;
}

.percentage {
    text-align: right;
}

.empty-bar {
    border-radius: 6px;
    width: 335px;
    height: 0.75rem;
    background: #8c8c8c;
}

.filled-bar {
    background: $fifth-color;
}

.reviews {
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    padding: 1.5rem 0;
}

.review .date {
    color: #8c8c8c;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.review .info {
    padding: 0.5rem 0;
    display: flex;
    gap: 1ch;
    align-items: baseline;
}

.review .name {
    color: #161616;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.review .text {
    color: #161616;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.host-reviews hr {
    margin: 2rem 0;
}

.nowrap {
    white-space: nowrap;
}

@media (min-width: 896px) {
    div#root {
        align-items: unset;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1024px;
        width: max(896px, 100%);
        margin: 0 auto;
        padding-bottom: 2em;
    }
    .title-link {
        flex-direction: row;
    }

    .costume-detail-info {
        align-items: end;
        padding-right: 1.5rem;
        width: 50%;
    }

    .link-button {
        width: 100%;
    }
}
